<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
	  <head>
		      <meta charset='utf-8'>
		          <meta http-equiv="X-UA-Compatible" content="chrome=1">
			      <meta name="viewport" content="width=device-width, initial-scale=1">
			          <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

				  {% seo %}
				    </head>

				      <body onload="init();">

					          <header>
							        <div class="container">
									        <h1>DEFCON : 1983</h1>
										        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
											        <div id="downloads" style="text-align:center;">
													          <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>Code on GitHub</a>
                                                    </div>
                                    </div>
                              </header>

                              <div class="container">
                                  <section id="canvas_content" style="text-align: center;">
                                      <canvas id="game_canvas" width="500" height="375"></canvas>
                                      <div style="text-align:center;">
                                          <button id="toggle" class="btn btn-github" onclick="toggleFullScreen()">Full Screen</button>
                                      </div>
                                  </section>
                                  <section id="main_content">
                                      {{ content }}
                                  </section>
                              </div>

                              <script src="js/main.js"></script>
                              <script src="js/cache.js"></script>

                              <script src="js/libs/easeljs-NEXT.min.js"></script>

                              <script
                                      src="https://code.jquery.com/jquery-3.2.1.min.js"
                                      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                                      crossorigin="anonymous"></script>

                              <script src="https://cdnjs.cloudflare.com/ajax/libs/screenfull.js/3.3.2/screenfull.js"></script>

                      </body>
</html>
